@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.logo img {
	transition: width 1s, height 1s, transform 1.5s;
}

.logo img:hover {
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
	transition: width 1.5s, height 1.5s, transform 1.5s;

}

.icon {
	position: relative;
	background: white;
	cursor: pointer;
	margin: auto;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 2.75em;
	font-weight: bold;
}



.icon .img {
	transition: width 1s, height 1s, transform 1s;

}

.icon img:hover {
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
	transition: width 1.5s, height 1.5s, transform 1.5s;
}

.menu {
	position: absolute;
	top: -75px;
	left: -75px;
	border: 150px solid transparent;
	cursor: default;
	border-radius: 50%;
	transform: scale(0);
	transition: transform 1.4s 0.07s;
	z-index: -5;
}

.spread {
	position: absolute;
	top: -100px;
	left: -100px;
	transform-origin: 100px 100px;
	transition: all 0.5s 0.1s;
}



.icon:hover .menu {
	transition: transform 0.4s 0.08s, z-index 0s 0.5s;
	transform: scale(1);
	z-index: 5;
}

.icon:hover .spread,
.icon:hover .unit {
	transition: all 0.6s;
}

.icon:hover .spread:nth-child(1) {
	transition-delay: 0.02s;
	transform: rotate(85deg);
}

.icon:hover .spread:nth-child(1) .unit {
	transition-delay: 0.04s;
	transform: rotate(635deg);
}

.icon:hover .spread:nth-child(2) {
	transition-delay: 0.04s;
	transform: rotate(125deg);
}

.icon:hover .spread:nth-child(2) .unit {
	transition-delay: 0.08s;
	transform: rotate(595deg);
}

.icon:hover .spread:nth-child(3) {
	transition-delay: 0.06s;
	transform: rotate(165deg);
}

.icon:hover .spread:nth-child(3) .unit {
	transition-delay: 0.12s;
	transform: rotate(555deg);
}

.icon:hover .spread:nth-child(4) {
	transition-delay: 0.08s;
	transform: rotate(205deg);
}

.icon:hover .spread:nth-child(4) .unit {
	transition-delay: 0.16s;
	transform: rotate(515deg);
}

.icon:hover .spread:nth-child(5) {
	transition-delay: 0.1s;
	transform: rotate(245deg);
}

.icon:hover .spread:nth-child(5) .unit {
	transition-delay: 0.2s;
	transform: rotate(475deg);
}

.icon:hover .spread:nth-child(6) {
	transition-delay: 0.12s;
	transform: rotate(285deg);
}

.icon:hover .spread:nth-child(6) .unit {
	transition-delay: 0.24s;
	transform: rotate(435deg);
}

.icon:hover .spread:nth-child(7) {
	transition-delay: 0.14s;
	transform: rotate(325deg);
}

.icon:hover .spread:nth-child(7) .unit {
	transition-delay: 0.28s;
	transform: rotate(395deg);
}

.icon:hover .spread:nth-child(8) {
	transition-delay: 0.16s;
	transform: rotate(365deg);
}

.icon:hover .spread:nth-child(8) .unit {
	transition-delay: 0.32s;
	transform: rotate(355deg);
}

.icon:hover .spread:nth-child(9) {
	transition-delay: 0.18s;
	transform: rotate(405deg);
}

.icon:hover .spread:nth-child(9) .unit {
	transition-delay: 0.36s;
	transform: rotate(315deg);
}

/* END .icon:hover */
.unit {
	position: absolute;
	background: transparent;
	font-size: 60%;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: dodgerblue;
	border-radius: 50%;
	transition: 0.6s;
}

/* Just CodePen layout stuff: */
body,
a,
ul,
li {
	margin: 0;
	outline: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	width: 100%;
	height: 100%;
}


body {
	font-family: sans-serif;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	transform: translate3d(0, 0, 0);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.icon {
	top: 50%;
	margin-top: 3%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;


}

.deconstructed {
	position: relative;
	margin: auto;
	margin-top: 20%;
	height: auto;
	color: transparent;
	font-family: 'Odibee Sans', cursive;
	font-size: 3vw;
	font-weight: 400;
	letter-spacing: -0.02em;
	line-height: 1.03em;
}

.deconstructed>div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ffff64;
	pointer-events: none;
}

.deconstructed>div:nth-child(1) {
	-webkit-mask-image: linear-gradient(black 25%, transparent 25%);
	mask-image: linear-gradient(black 25%, transparent 25%);
	animation: deconstructed1 5s infinite;
}

.deconstructed>div:nth-child(2) {
	-webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
	mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
	animation: deconstructed2 5s infinite;
}

.deconstructed>div:nth-child(3) {
	-webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
	mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
	animation: deconstructed3 5s infinite;
}

.deconstructed>div:nth-child(4) {
	-webkit-mask-image: linear-gradient(transparent 75%, black 75%);
	mask-image: linear-gradient(transparent 75%, black 75%);
	animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
	0% {
		transform: translateX(100%);
	}

	26% {
		transform: translateX(0%);
	}

	83% {
		transform: translateX(-0.1%);
	}

	100% {
		transform: translateX(-120%);
	}
}

@keyframes deconstructed2 {
	0% {
		transform: translateX(100%);
	}

	24% {
		transform: translateX(0.5%);
	}

	82% {
		transform: translateX(-0.2%);
	}

	100% {
		transform: translateX(-125%);
	}
}

@keyframes deconstructed3 {
	0% {
		transform: translateX(100%);
	}

	22% {
		transform: translateX(0%);
	}

	81% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-130%);
	}
}

@keyframes deconstructed4 {
	0% {
		transform: translateX(100%);
	}

	20% {
		transform: translateX(0%);
	}

	80% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-135%);
	}
}

.ml2 {
	color: white;
	margin-top: -30%;
	font-weight: 900;
	font-size: 3.5em;
}

.ml2 .letter {
	display: inline-block;
	line-height: 1em;
}

@media screen and (min-width: 420px) {
	.ml2 {
		color: white;
		margin-top: -20%;
		font-weight: 900;
		font-size: 3.5em;
	}

	.ml2 .letter {
		display: inline-block;
		line-height: 1em;
	}

}